### Dicionários em Python

### Estrutura:
dicionario = {chave: valor, chave: valor, chave: valor, chave: valor ...}

### Vantagens e Desvantagens

Não devem ser usados para pegar itens em uma determinada ordem
Podem ter valores heterogêneos (vários tipos de valores dentro de um mesmo dicionário: inteiros, strings, listas, etc)
Chaves são únicas obrigatoriamente
Mais intuitivos de trabalhar

In [2]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

- Qual foi o item mais vendido nas categorias 'livros' e 'lazer'?
- Quanto foi vendido de 'notebook asus' e de 'ipad'?

In [3]:
livros = mais_vendidos['livros']
print('O livro mais vendido foi {}'.format(livros))

O livro mais vendido foi o alquimista

In [4]:
vendas = vendas_tecnologia['notebook asus']
print(vendas)

2450

## Usando o metodo .get() para pegar um valor

In [6]:
#Usando o metodo get para pegar um valor 
print(vendas_tecnologia.get('iphone'))

15000

In [7]:
#Verificar se um valor está dentro do dicionario
if vendas_tecnologia.get('copo') == None:
    print("O copo não está dentro de vendas tecnologia")
else:
    print(vendas_tecnoliga.get('copo'))

O copo não está dentro de vendas tecnologia

## Adicionar, modificar e remover algum item

In [8]:
lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}
#adicionando 1 item
lucro_1tri['abril'] = 88000
#adicionando vários itens ou um dicionário a outro
lucro_1tri.update(lucro_2tri)
#adicionando um item já existente (manualmente ou pelo update)
print(lucro_1tri)

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

In [9]:
#REMOVER ITEM DA LISTA DE DICIONÁRIO
#removendo o mês de junho
del lucro_1tri['junho']
print(lucro_1tri)
#obs: o del também funciona para listas, caso queira usar
#del lista[i]
funcionarios = ['João', 'Lira', 'Maria', 'Ana', 'Paula']

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000}

In [10]:
#usando .pop() para remover e guardar em uma nova variável
lucro_maio = lucro_1tri.pop('maio')
print(lucro_maio)
print(lucro_1tri)

89000
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000}

## Usando For em dicionários

In [1]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [12]:
for chave in  vendas_tecnologia:
    print('{}: {} unidades'.format(chave, vendas_tecnologia[chave]))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
notebook dell: 17000 unidades
notebook asus: 2450 unidades

### Qual o total de notebook vendidos?

In [14]:
total_notebooks = 0
for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebooks += vendas_tecnologia[chave]
print(total_notebooks)

20450

# Exercicios

## Identificando Locais de Risco

Digamos que você está construindo um programa para identificar níveis de CO2 (gás carbônico) em determinados locais para evitar potenciais acidentes. Em cada um desses locais a sua empresa tem 5 sensores que captam o nível de CO2 do local.

Os níveis normais de CO2 são em média 350. O nível de CO2 de um local é dado pela média captada pelos 5 sensores.

Isso significa que se tivermos os 5 sensores do Rio de Janeiro marcando: 350, 400, 450, 350, 300, o nível de CO2 do Rio de Janeiro será dado por: (350 + 400 + 450 + 350 + 300) / 5 = 370.

Caso o nível seja maior do que 450, um aviso deve ser exibido pelo seu programa dizendo, por exemplo: Rio de Janeiro está com níveis altíssimos de CO2 (490), chamar equipe especializada para verificar a região.

Os resultados dos sensores são monitorados frequentemente e são dados para o sistema em forma de dicionário:

In [15]:
niveis_co2 = {
    'AC': [325,405,429,486,402],
    'AL': [492,495,310,407,388],
    'AP': [507,503,368,338,400],
    'AM': [429,456,352,377,363],
    'BA': [321,508,372,490,412],
    'CE': [424,328,425,516,480],
    'ES': [449,506,461,337,336],
    'GO': [425,460,385,485,460],
    'MA': [361,310,344,425,490],
    'MT': [358,402,425,386,379],
    'MS': [324,357,441,405,427],
    'MG': [345,367,391,427,516],
    'PA': [479,514,392,493,329],
    'PB': [418,499,317,302,476],
    'PR': [420,508,419,396,327],
    'PE': [404,444,495,320,343],
    'PI': [513,513,304,377,475],
    'RJ': [502,481,492,502,506],
    'RN': [446,437,519,356,317],
    'RS': [427,518,459,317,321],
    'RO': [517,466,512,326,458],
    'RR': [466,495,469,495,310],
    'SC': [495,436,382,483,479],
    'SP': [495,407,362,389,317],
    'SE': [508,351,334,389,418],
    'TO': [339,490,304,488,419],
    'DF': [376,516,320,310,518], 
}

In [27]:
for estado in niveis_co2:
    qtd_sensores = len(niveis_co2[estado])
    total_co2 = sum(niveis_co2[estado])
    media_co2 = total_co2 / qtd_sensores
    if media_co2 > 450:
        print('{} está com niveis elevados de co2({})'.format(estado, media_co2))

RJ está com niveis elevados de co2(496.6)
RO está com niveis elevados de co2(455.8)
SC está com niveis elevados de co2(455.0)

## Método .items() para transformar dicionarios em tuplas

In [11]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [12]:
for item in vendas_tecnologia.items():
    print(item)

('iphone', 15000)
('samsung galaxy', 12000)
('tv samsung', 10000)
('ps5', 14300)
('tablet', 1720)
('ipad', 1000)
('tv philco', 2500)
('notebook hp', 1000)
('notebook dell', 17000)
('notebook asus', 2450)

In [13]:
for produto, qtd in vendas_tecnologia.items():
    print(produto, ":", qtd)

iphone : 15000
samsung galaxy : 12000
tv samsung : 10000
ps5 : 14300
tablet : 1720
ipad : 1000
tv philco : 2500
notebook hp : 1000
notebook dell : 17000
notebook asus : 2450

### Quais produtos venderam mais de 5000?

In [18]:
for produto, qtd in vendas_tecnologia.items():
    if qtd > 5000:
        print(produto, ":", qtd)

iphone : 15000
samsung galaxy : 12000
tv samsung : 10000
ps5 : 14300
notebook dell : 17000

In [20]:
#Keys() retorna os valores das chaves
print(vendas_tecnologia.keys())

dict_keys(['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus'])

In [21]:
#Values() retorna os valores do dicionario
print(vendas_tecnologia.values())

dict_values([15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450])